.header{
    background: linear-gradient(-45deg, #f89500 0%, #f89500 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    height: auto;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header ul{
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    
}
.header li{
    flex-grow: 1;
    width: 200px;
    padding: 10px;
}
.header li:hover {
   
    cursor: pointer;
    color: #000000;
    background: rgb(255, 255, 255);

}



.current{
    height:45px;
    background-color: #fdd8a1;
    color :#000000
    
}

 @media (max-width : 1020px){
    .menu-button-container{
        flex-direction: column;
    }
    .menu{
        position : absolute;
        margin-top: 40px;
        width : 100%;
        justify-content: center;
        align-items: center;
    }
    .header{
        background-color: #dddddd;
        color: #fff;
        position: sticky;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        z-index: 1;
        height: auto;
        width:100%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    }


    .header ul{
        display: none;
        content: xxx;
        padding: auto;
        margin: auto;
        list-style: none;
        cursor: pointer;
    }

    .header .active{
        display:flex;
    }
    .headerImg{

        margin-right : 10px;
        align-content:end;
        cursor:pointer;
    }


    .header li{
        padding: 10px;
        width: 100vw;
        text-align: center;
        padding: 10px;
        
    }
    .header li:hover {
        transition: all .4s ease-in-out;
        cursor: pointer;
        color: #000000;
        background: rgb(255, 247, 220);

    }

    .current{

        height:45px;
        text-align: center;
        background-color: #ffdba5;
    }
} 

@media (prefers-color-scheme: dark) {
    .header{
        background: linear-gradient(-45deg, #8800f8 0%, #8800f8 100%);
        color: rgb(255, 255, 255);
        text-align: center;
        height: auto;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .current{
        height:45px;
        background-color: #c1a1fd;
        color :#000000
        
    }
  }
