.layout{
  background-color: beige;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
}

.introduce1{
  border-style: solid;
  border-color: gray;
  border-width: 3px 2px 3px 3px;
  flex-grow: 1;
  justify-content: space-between;
}

.introduce2{
  border-style: solid;
  border-color: gray;
  border-width: 3px 3px 3px 2px;
  flex-grow: 1;
  justify-content: space-between;
}