.layout{
  background-color: beige;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
}

.introduce1{

  flex-grow: 1;
  justify-content: space-between;
}

.introduce2{

  flex-grow: 1;
  justify-content: space-between;
}