.linkHighlight {

  text-decoration-line: underline;
  text-decoration-color: rgb(10, 82, 227);

  }
.main {
  padding: 5px; 
  background-color: #45a1ff;
  color: #fff;
  text-align: center;
}

.linkHighlight:hover{
  color: aqua;
}
