.linkHighlight {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.footer {
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  text-align: center;
}