.header{
  padding: 2px; 
  background-color: #b8ecbb;
  color: rgb(71, 71, 71);
  text-align: center;
  flex:1 ; 
}

.portfolio_baristaSimulation{
  padding: 2px; 
  background-color: #e9e9e9;
  color: rgb(71, 70, 70);
  text-align: center;
  flex:1 ; 
  border : 2px solid;
}


/** portfolio barista simulation */

.twoColumnSection{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 20px;
}

.twoColumnSection div{
  margin: 0 auto;
}

.twoColumnSection ul{
  text-align: left;
  margin :auto 0;
}

/** portfolio live chatting app */

@media (max-width : 1020px){

  .header{
    padding: 2px; 
    background-color: #00b90c;
    color: #fff;
    text-align: center;
    flex:1 ; 
  }


  .portfolio_baristaSimulation{
    padding: 2px; 
    background-color: #ac747b;
    color: #fff;
    text-align: center;
    flex:1 ; 
  }

  .twoColumnSection{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
  }
  
  .twoColumnSection div{
    margin: 0 auto;
  }
  
  .twoColumnSection div ul{
    text-align: left;
    margin :auto 0;
  }

}