.header {
  padding: 2px;
  background-color: #b8ecbb;
  color: rgb(71, 71, 71);
  text-align: center;
  flex: 1;
}

.underLine {
  text-align: center;
}

.underLine:after {
  content: "";
  display: block;
  width: 270px;
  border-bottom: 2px solid #bcbcbc;
  margin: 20px auto;
}

.portfolio_container {
  display: flex;
  background-color: #2b9def;
}

.portfolio_main {
  max-width: 1100px;
  margin: 0 auto;
}

.underPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}


.underPhoto>img {
  width: 100%;
  height:100%;
  object-fit: contain;
  object-position: center;
}

.portfolio_carousel {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  overflow: hidden;
}



.portfolio_intro {
  padding: 2px;
  font-size: 50px;
  font-weight: 200;
  background: #2b9def;
  color: rgb(255, 255, 255);
  text-align: center;
  flex: 1;

}

.portfolio_cardSection {
  object-fit: contain;
  border-radius: 60px 80px 60px 80px / 60px 80px 60px 80px;
  padding: 20px;
  color: rgb(71, 70, 70);
  text-align: center;
  flex: 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: 30px;
  background-color: #ffffff;
}

@media (max-width : 1020px) {

  .header {
    padding: 2px;
    background-color: #00b90c;
    color: #fff;
    text-align: center;
    flex: 1;
  }


}